$body-bg: #ffffff;
$body-color: #626262;

$primary: #3669e0;
// $success: #3ae374;
$secondary: #f78d23;

$theme-colors: (
  primary: $primary,
  //   success: $success,
  secondary: $secondary,
);

$font-cookie: "Cookie", cursive;
$font-monoton: "Monoton", cursive;
$font-esmessiri: "El Messiri", sans-serif;

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 4.5,
    ),
    7: (
      $spacer * 5,
    ),
    8: (
      $spacer * 6,
    ),
    9: (
      $spacer * 6.5,
    ),
    10: (
      $spacer * 7,
    ),
  ),
  $spacers
);

$zindex-navbar: 5000;
